# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
14-oppo-nuxt

# Node dependencies
node_modules
.next

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
