// 使用变量

// 统一样式的风格

// 不需导入了，在nuxt.config中已经配置自动导入
// @import "@/assets/css/variables.scss";
.wrapper {
  width: $contentWidth;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 0 16px;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  font-size: 14px;
  color: #333;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
